<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-entity-heading">Create or edit a Transaction Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_transAmmount">Trans Ammount</label>
                    <input type="number" class="form-control" name="transAmmount" id="field_transAmmount"
                           formControlName="transAmmount"/>
                    <div *ngIf="editForm.get('transAmmount')!.invalid && (editForm.get('transAmmount')!.dirty || editForm.get('transAmmount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transAmmount')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('transAmmount')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_transDate">Trans Date</label>
                    <div class="input-group">
                        <input id="field_transDate" type="text" class="form-control" name="transDate" ngbDatepicker #transDateDp="ngbDatepicker" formControlName="transDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="transDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('transDate')!.invalid && (editForm.get('transDate')!.dirty || editForm.get('transDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transDate')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_transType">Trans Type</label>
                    <select class="form-control" name="transType" formControlName="transType" id="field_transType">
                        <option value="DEBIT">DEBIT</option>
                        <option value="CREDIT">CREDIT</option>
                    </select>
                    <div *ngIf="editForm.get('transType')!.invalid && (editForm.get('transType')!.dirty || editForm.get('transType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transType')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_entryDate">Entry Date</label>
                    <div class="d-flex">
                        <input id="field_entryDate" type="datetime-local" class="form-control" name="entryDate" formControlName="entryDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_accountEntity">Account Entity</label>
                    <select class="form-control" id="field_accountEntity" name="accountEntity" formControlName="accountEntity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="accountEntityOption.id === editForm.get('accountEntity')!.value?.id ? editForm.get('accountEntity')!.value : accountEntityOption" *ngFor="let accountEntityOption of accountentities; trackBy: trackById">{{ accountEntityOption.code }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
