<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transactionEntity">
            <h2><span>Transaction Entity</span> {{ transactionEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Trans Ammount</span></dt>
                <dd>
                    <span>{{ transactionEntity.transAmmount }}</span>
                </dd>
                <dt><span>Trans Date</span></dt>
                <dd>
                    <span>{{ transactionEntity.transDate }}</span>
                </dd>
                <dt><span>Trans Type</span></dt>
                <dd>
                    <span>{{ transactionEntity.transType }}</span>
                </dd>
                <dt><span>Entry Date</span></dt>
                <dd>
                    <span>{{ transactionEntity.entryDate }}</span>
                </dd>
                <dt><span>Account Entity</span></dt>
                <dd>
                    <div *ngIf="transactionEntity.accountEntity">
                        <a [routerLink]="['/account-entity', transactionEntity.accountEntity?.id, 'view']">{{ transactionEntity.accountEntity?.code }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction-entity', transactionEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
